#import <Foundation/Foundation.h>

@interface ${dataName} : NSObject

#foreach( $property in $propertyList)
@property(nonatomic, ${property.memType}) ${property.type} ${property.name};

#end

@end
